label {
    margin: 8px;
    width: 100px;
    display: inline-block;
}

input {
    margin: 8px;
    padding: 4px 8px;
    width: auto;
    display: inline-block;
}

input[type=text] {
    min-width: 200px;
}

input[type=number] {
    max-width: 100px;
}

input[type=number]::-webkit-inner-spin-button {
    display: none;
}

input[type=file] {
    padding-left: 0px;
}