
<div class="table" *ngIf="items.length > 0; else noItemTmpl">
    <div class="row" *ngFor="let item of items">
        <span>{{item.name}}</span>
        <span>{{item.quantity}} pieces</span>
        <span>Total price: {{item.price | currency}}</span>
    </div>

    <div class="action-button">
        <button (click)="purchase()">Purchase</button>
        <button [routerLink]="['']">Back to list</button>
        <button class="red-button" (click)="clearCart()">Clear Cart</button>
    </div>
</div>

<ng-template #noItemTmpl>
    <p class="table none-item">No item selected.</p>
</ng-template>
