
<div class="product-details-wrapper">
    <div *ngIf="product">
        <div class="left-content">
            <img [src]="product.imageSource">
        </div>

        <div class="right-content">
            <h3>{{product.name}}</h3>
            <p>Price: {{product.price | currency}}</p>
            <p *ngIf="outOfStock;else other">Out of stock</p>
            <ng-template #other>
                <p>In stock: {{product.instock}} pieces</p>
            </ng-template>

            <p>Description: {{product.description}}</p>

            <div>
                <button [disabled]="outOfStock" (click)="addToCart()">Add to cart</button>
                <button [routerLink]="['']">Back to list</button>
            </div>
        </div>
    </div>
</div>