h3,
p {
    padding-left: 16px;
}


/* Image */

img {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 30px;
}

.product-details-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-content {
    float: left;
}

.right-content {
    float: right;
}